@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,700);





body {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.5rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
.display-5 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.1rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,2s;
  transition-timing-function: ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 1rem 2rem;
  border-radius: 3px;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn-sm {
  border: 1px solid;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 2rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #bbbbbb !important;
}
.bg-success {
  background-color: #b2ccd2 !important;
}
.bg-info {
  background-color: #096693 !important;
}
.bg-warning {
  background-color: #465052 !important;
}
.bg-danger {
  background-color: #879a9f !important;
}
.btn-primary {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-primary:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #959595;
  border-color: #959595;
  border-radius: 100px;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #bbbbbb !important;
  border-color: #bbbbbb !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #959595 !important;
  border-color: #959595 !important;
}
.btn-primary:hover:before,
.btn-primary:focus:before,
.btn-primary.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #959595 !important;
  border-color: #959595 !important;
}
.btn-secondary {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-secondary:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #37b0ea;
  border-color: #37b0ea;
  border-radius: 100px;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #7ccbf1 !important;
  border-color: #7ccbf1 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #37b0ea !important;
  border-color: #37b0ea !important;
}
.btn-secondary:hover:before,
.btn-secondary:focus:before,
.btn-secondary.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #37b0ea !important;
  border-color: #37b0ea !important;
}
.btn-info {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-info:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #05344b;
  border-color: #05344b;
  border-radius: 100px;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #096693 !important;
  border-color: #096693 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #05344b !important;
  border-color: #05344b !important;
}
.btn-info:hover:before,
.btn-info:focus:before,
.btn-info.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #05344b !important;
  border-color: #05344b !important;
}
.btn-success {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-success:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #82acb6;
  border-color: #82acb6;
  border-radius: 100px;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #82acb6 !important;
  border-color: #82acb6 !important;
}
.btn-success:hover:before,
.btn-success:focus:before,
.btn-success.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #82acb6 !important;
  border-color: #82acb6 !important;
}
.btn-warning {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-warning:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #232829;
  border-color: #232829;
  border-radius: 100px;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #465052 !important;
  border-color: #465052 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #232829 !important;
  border-color: #232829 !important;
}
.btn-warning:hover:before,
.btn-warning:focus:before,
.btn-warning.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #232829 !important;
  border-color: #232829 !important;
}
.btn-danger {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-danger:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #617479;
  border-color: #617479;
  border-radius: 100px;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger:hover:before,
.btn-danger:focus:before,
.btn-danger.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-black {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-black:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
  border-radius: 100px;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black:hover:before,
.btn-black:focus:before,
.btn-black.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-white {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-white:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  border-radius: 100px;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white:hover:before,
.btn-white:focus:before,
.btn-white.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  color: #333333 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #333333 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #333333 !important;
}
.btn-primary-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-primary-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #bbbbbb;
  border-color: #bbbbbb;
  border-radius: 100px;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #888888;
  color: #888888 !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #bbbbbb;
  border-color: #bbbbbb;
}
.btn-primary-outline:hover:before,
.btn-primary-outline:focus:before,
.btn-primary-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #bbbbbb !important;
  border-color: #bbbbbb !important;
}
.btn-secondary-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-secondary-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #7ccbf1;
  border-color: #7ccbf1;
  border-radius: 100px;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #20a6e7;
  color: #20a6e7 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #7ccbf1;
  border-color: #7ccbf1;
}
.btn-secondary-outline:hover:before,
.btn-secondary-outline:focus:before,
.btn-secondary-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #7ccbf1 !important;
  border-color: #7ccbf1 !important;
}
.btn-info-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-info-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #096693;
  border-color: #096693;
  border-radius: 100px;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #032333;
  color: #032333 !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #096693;
  border-color: #096693;
}
.btn-info-outline:hover:before,
.btn-info-outline:focus:before,
.btn-info-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #096693 !important;
  border-color: #096693 !important;
}
.btn-success-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-success-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #b2ccd2;
  border-color: #b2ccd2;
  border-radius: 100px;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #72a1ac;
  color: #72a1ac !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #b2ccd2;
  border-color: #b2ccd2;
}
.btn-success-outline:hover:before,
.btn-success-outline:focus:before,
.btn-success-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
}
.btn-warning-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-warning-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #465052;
  border-color: #465052;
  border-radius: 100px;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #171a1b;
  color: #171a1b !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #465052;
  border-color: #465052;
}
.btn-warning-outline:hover:before,
.btn-warning-outline:focus:before,
.btn-warning-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #465052 !important;
  border-color: #465052 !important;
}
.btn-danger-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-danger-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #879a9f;
  border-color: #879a9f;
  border-radius: 100px;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #55666b;
  color: #55666b !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-danger-outline:hover:before,
.btn-danger-outline:focus:before,
.btn-danger-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-black-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-black-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #333333;
  border-color: #333333;
  border-radius: 100px;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline:hover:before,
.btn-black-outline:focus:before,
.btn-black-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-white-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 100px;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white-outline:hover:before,
.btn-white-outline:focus:before,
.btn-white-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.text-primary {
  color: #bbbbbb !important;
}
.text-secondary {
  color: #7ccbf1 !important;
}
.text-success {
  color: #b2ccd2 !important;
}
.text-info {
  color: #096693 !important;
}
.text-warning {
  color: #465052 !important;
}
.text-danger {
  color: #879a9f !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #888888 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #20a6e7 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #72a1ac !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #032333 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #171a1b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #55666b !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #b2ccd2;
}
.alert-info {
  background-color: #096693;
}
.alert-warning {
  background-color: #465052;
}
.alert-danger {
  background-color: #879a9f;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,.8s;
  transition-timing-function: ease-in-out;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #bbbbbb;
  border-color: #bbbbbb;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #bbbbbb;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fbfbfb;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #2ab1f2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #bac2c4;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ced6d8;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #bbbbbb;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 2rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.special-form {
  border-radius: 100px !important;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #bbbbbb;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #bbbbbb;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #bbbbbb;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #bbbbbb;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-rbolK2Cd7Y {
  background-image: url("../../../assets/images/mbr-1920x1080.jpg");
}
.cid-rbolK2Cd7Y .container-fluid {
  padding: 0 3rem;
}
.cid-rbolK2Cd7Y .mbr-media span {
  font-size: 48px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #353535;
}
.cid-rbolK2Cd7Y .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-rbolK2Cd7Y .modalWindow {
  display: none;
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-rbolK2Cd7Y .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-rbolK2Cd7Y .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-rbolK2Cd7Y a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-rbolK2Cd7Y a.close:hover {
  color: #ffffff;
}
.cid-rbolK2Cd7Y svg {
  transition: all 0.5s ease-in;
}
.cid-rbolK2Cd7Y svg .blick {
  transiton: opacity 0.5s ease-in;
  opacity: 1;
}
.cid-rbolK2Cd7Y svg:hover {
  cursor: pointer;
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
.cid-rbolK2Cd7Y svg:hover .blick {
  transition: opacity 0.5s ease-in;
  opacity: 0;
}
@media (max-width: 767px) {
  .cid-rbolK2Cd7Y .container-fluid {
    padding: 0 1rem;
  }
}
.cid-rboodnEZ0O {
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-rboodnEZ0O .mbr-section-title,
.cid-rboodnEZ0O .mbr-section-subtitle {
  color: #879a9f;
}
.cid-rboodnEZ0O .mbr-section-text {
  color: #767676;
}
.cid-rboodnEZ0O .mbr-text,
.cid-rboodnEZ0O .typed-text,
.cid-rboodnEZ0O .mbr-section-text {
  letter-spacing: 0.03rem;
}
.cid-rboodnEZ0O .btn {
  margin-left: 4px !important;
}
.cid-rboodnEZ0O .animated-element {
  color: #fe525b;
}
.cid-rboodnEZ0O .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #fe525b;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cid-rboq9Rh4nJ {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rboq9Rh4nJ p {
  color: #767676;
}
.cid-rboq9Rh4nJ .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-rboq9Rh4nJ .row-element,
.cid-rboq9Rh4nJ .image-element {
  padding: 0;
}
.cid-rboq9Rh4nJ .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rboq9Rh4nJ .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-rboq9Rh4nJ .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-rboq9Rh4nJ .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #bbbbbb, #7ccbf1);
  display: inline-block;
}
@media (min-width: 1500px) {
  .cid-rboq9Rh4nJ .text-content {
    padding: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 1499px) {
  .cid-rboq9Rh4nJ .text-content {
    padding: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rboq9Rh4nJ .text-content {
    padding: 2rem 1rem;
  }
  .cid-rboq9Rh4nJ .underline .line {
    height: 2px;
  }
  .cid-rboq9Rh4nJ .mbr-title,
  .cid-rboq9Rh4nJ .underline,
  .cid-rboq9Rh4nJ .mbr-text,
  .cid-rboq9Rh4nJ .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-rborMaOw0j {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rborMaOw0j .container-fluid {
  padding: 0 3rem;
}
.cid-rborMaOw0j .media-container-column {
  padding: 0 2rem;
}
.cid-rborMaOw0j .mbr-section-title {
  display: inline-block;
  position: relative;
}
@media (max-width: 767px) {
  .cid-rborMaOw0j .container-fluid {
    padding: 0 1rem;
  }
}
.cid-rbo9hdmlyL {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rbo9hdmlyL .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-rbo9hdmlyL .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #bbbbbb, #7ccbf1);
  display: inline-block;
}
.cid-rbo9hdmlyL .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rbo9hdmlyL .number-wrap {
  color: #232323;
  background: #ffffff;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 13px 10px;
  margin: 0;
  min-width: 118px;
  max-width: 100%;
  background: linear-gradient(135deg, #ffffff, #ffffff);
}
.cid-rbo9hdmlyL .number {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  text-transform: none;
  letter-spacing: -2px;
  word-spacing: 0;
  line-height: 1.3;
  color: #232323;
}
.cid-rbo9hdmlyL .period {
  display: block;
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cid-rbo9hdmlyL .dot {
  position: absolute;
  top: -10px;
  right: -1em;
  width: 1em;
  display: none;
  height: 83%;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 89.65px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  color: #232323;
}
.cid-rbo9hdmlyL .countdown-cont {
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rbo9hdmlyL .dot {
    display: none;
  }
}
@media (max-width: 543px) {
  .cid-rbo9hdmlyL .number-wrap {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .cid-rbo9hdmlyL .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 440px) {
  .cid-rbo9hdmlyL .number,
  .cid-rbo9hdmlyL .dot {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-rbo9hdmlyL .period {
    font-size: 0.8rem;
  }
}
.cid-rbotdH9Qfn {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rbotdH9Qfn .container-fluid {
  padding: 0 3rem;
}
.cid-rbotdH9Qfn .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(to right, #bbbbbb 50%, #7ccbf1 120%);
  display: inline-block;
}
.cid-rbotdH9Qfn .timeline-text-content {
  padding: 2rem 2.5rem;
  margin-left: 2rem;
  text-align: left;
}
.cid-rbotdH9Qfn .timeline-text-content p {
  margin-bottom: 0;
}
.cid-rbotdH9Qfn .time-line-date-content {
  margin-right: 2rem;
}
.cid-rbotdH9Qfn .time-line-date-content p {
  padding: 2rem 1.4rem;
  float: right;
}
.cid-rbotdH9Qfn .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.cid-rbotdH9Qfn .iconBackground {
  position: absolute;
  left: 25%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fe525b;
  font-size: 30px;
  display: inline-block;
  top: 29px;
  margin-left: -10px;
}
.cid-rbotdH9Qfn .separline:before,
.cid-rbotdH9Qfn .first-separline:before {
  top: 3rem;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #fe525b;
  left: calc(25% - 1px);
  height: calc(100% + 2rem);
}
.cid-rbotdH9Qfn .separline:after {
  top: calc(100% + 6.1rem);
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #fe525b;
  left: calc(25% - 1px);
  height: 100%;
}
@media (max-width: 768px) {
  .cid-rbotdH9Qfn .container-fluid {
    padding: 0 1rem;
  }
  .cid-rbotdH9Qfn .iconBackground {
    left: 10px !important;
    top: 33px;
  }
  .cid-rbotdH9Qfn .separline:before,
  .cid-rbotdH9Qfn .first-separline:before {
    left: 9px !important;
    top: 3.3rem;
  }
  .cid-rbotdH9Qfn .separline:after {
    left: 9px !important;
    top: calc(100% + 6.4rem);
  }
  .cid-rbotdH9Qfn .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-rbotdH9Qfn .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-rbotdH9Qfn .time-line-date-content p {
    float: left !important;
  }
  .cid-rbotdH9Qfn .mbr-timeline-date {
    padding-bottom: 0 !important;
  }
}
.cid-rboufVLziV {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rboufVLziV .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rboufVLziV .carousel-control-prev,
.cid-rboufVLziV .carousel-control-next {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.cid-rboufVLziV .carousel-item.active,
.cid-rboufVLziV .carousel-item-next,
.cid-rboufVLziV .carousel-item-prev {
  display: flex;
}
.cid-rboufVLziV .carousel-controls a {
  transition: opacity .5s;
}
.cid-rboufVLziV .carousel-controls a:hover span,
.cid-rboufVLziV .carousel-controls a:focus span {
  opacity: 1;
}
.cid-rboufVLziV .carousel-controls a:hover svg,
.cid-rboufVLziV .carousel-controls a:focus svg {
  transition: all .25s;
  stroke-width: 3;
}
.cid-rboufVLziV .carousel-controls a:active svg {
  transition: all .1s;
  stroke-width: 5;
}
.cid-rboufVLziV .user_image {
  overflow: hidden;
  display: flex;
}
.cid-rboufVLziV .user_image .user_image_inner {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  margin: 0 auto 3rem auto;
}
.cid-rboufVLziV .user_image .user_image_inner img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-rboufVLziV .user_text {
  color: #767676;
}
.cid-rboufVLziV .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-rboufVLziV .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #bbbbbb, #7ccbf1);
  display: inline-block;
}
.cid-rboufVLziV .testimonials-quote svg {
  height: 30px;
  width: 30px;
}
.cid-rboufVLziV svg.svg-gradient {
  position: absolute;
  opacity: 0;
  z-index: -100;
}
.cid-rboufVLziV .user_name {
  color: #5a31fb;
}
.cid-rboufVLziV .carousel-controls svg {
  height: 60px;
}
@media (max-width: 230px) {
  .cid-rboufVLziV .user_image_inner {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 991px) {
  .cid-rboufVLziV .testimonials-quote,
  .cid-rboufVLziV .user_text,
  .cid-rboufVLziV .user_name,
  .cid-rboufVLziV .user_desk {
    text-align: center !important;
  }
  .cid-rboufVLziV .carousel-controls a span {
    top: auto;
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .cid-rboufVLziV .mbr-section-title,
  .cid-rboufVLziV .underline {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 1200px) {
  .cid-rboufVLziV .carousel-control-prev span {
    right: -1rem;
  }
  .cid-rboufVLziV .carousel-control-next span {
    left: -1rem;
  }
  .cid-rboufVLziV .user-text {
    padding-right: 2rem;
  }
  .cid-rboufVLziV .carousel-control-prev,
  .cid-rboufVLziV .carousel-control-next {
    -webkit-align-items: center;
    align-items: center;
  }
}
.cid-rbowA7ZLj9 {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
  background-color: #232323;
}
.cid-rbowA7ZLj9 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cid-rbowA7ZLj9 ul li {
  padding: 1rem 0;
}
.cid-rbowA7ZLj9 ul li:hover {
  color: #bbbbbb;
}
.cid-rbowA7ZLj9 .socicon {
  color: #fff;
  font-size: 1.5rem;
}
.cid-rbowA7ZLj9 .mbr-iconfont {
  margin-right: 1em;
  display: inline-block;
  vertical-align: bottom;
}
.cid-rbowA7ZLj9 .google-map {
  -webkit-flex: 1;
  flex: 1;
  display: flex;
  position: relative;
}
.cid-rbowA7ZLj9 .map {
  padding: 0;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rbowA7ZLj9 .map iframe {
  -webkit-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .cid-rbowA7ZLj9 .map {
    height: auto;
  }
}
.cid-rbowA7ZLj9 .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-rbowA7ZLj9 .social-list .soc-item {
  padding: 0;
  margin: 2rem 2rem 0 0;
}
.cid-rbowA7ZLj9 .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rbowA7ZLj9 .social-list a:hover {
  opacity: 1;
}
.cid-rbowA7ZLj9 .row-element,
.cid-rbowA7ZLj9 .image-element {
  padding: 0;
}
.cid-rbowA7ZLj9 .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-rbowA7ZLj9 .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #bbbbbb, #7ccbf1);
  display: inline-block;
}
@media (min-width: 1500px) {
  .cid-rbowA7ZLj9 .text-content {
    padding: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 1499px) {
  .cid-rbowA7ZLj9 .text-content {
    padding: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rbowA7ZLj9 .text-content {
    padding: 2rem 1rem;
  }
  .cid-rbowA7ZLj9 .underline .line {
    height: 2px;
  }
  .cid-rbowA7ZLj9 .mbr-title,
  .cid-rbowA7ZLj9 .underline,
  .cid-rbowA7ZLj9 .mbr-text,
  .cid-rbowA7ZLj9 .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-rbowA7ZLj9 .mbr-title,
.cid-rbowA7ZLj9 .underline {
  color: #ffffff;
}
.cid-rbowA7ZLj9 .mbr-text,
.cid-rbowA7ZLj9 .mbr-section-btn {
  color: #ffffff;
}
.cid-rbowA7ZLj9 mbr-list LI {
  color: #ffffff;
}
.cid-rbowA7ZLj9 mbr-list {
  text-align: center;
}
.cid-rbowA7ZLj9 .mbr-list,
.cid-rbowA7ZLj9 .social-list mbr-list {
  color: #ffffff;
}
.cid-rbowe7p3Y6 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-rbowe7p3Y6 [class^="socicon-"]:before,
.cid-rbowe7p3Y6 [class*=" socicon-"]:before {
  line-height: 44px;
}
.cid-rbowe7p3Y6 .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-rbowe7p3Y6 .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #bbbbbb, #7ccbf1);
  display: inline-block;
}
.cid-rbowe7p3Y6 .socicon {
  color: #5b686b;
}
.cid-rbowe7p3Y6 .btn-social {
  border-color: #1ba1e2;
  margin-left: .5rem !important;
  margin-right: .5rem !important;
}
.cid-rbowe7p3Y6 .btn-social:hover {
  background: #1ba1e2;
}
.cid-rbowe7p3Y6 .btn-social:hover i.socicon {
  color: #ffffff !important;
}
@media (max-width: 767px) {
  .cid-rbowe7p3Y6 .btn {
    font-size: 20px !important;
  }
  .cid-rbowe7p3Y6 .btn-social {
    margin-right: .1rem !important;
    margin-left: .1rem !important;
  }
}
